@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../images/bg.jpg);
	background-size: cover;
}



.login-box{
	
	width:30%;

	position:absolute;
	left:65%;
	color: black;
}

.introlines {
  text-align: left;
  background-color: rgba(75,156,56,0.8);
}

#sml{
  width: 20%;
  margin-left:4%;
}

#csl{
  width: 9%;
  margin-right:4%;
  float: right;
}

#inh3 {
  background-color: rgba(75,156,56,0.8);
  padding-top: 5px;
  
}

.imgslide {
  float: left;
  margin-left:3%;
  width: 57%
}

#test {
 width: 100%;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.introlines h1{

}

.login-box h2{
  float:left;
  font-size:40px;
  border-bottom: 5px solid #4caf50;
  margin-bottom: 20px;
  padding:13px 0
}
.textbox{
  width:100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #4caf50;

}


#tablepart {
  margin-top: 400%;
  margin-bottom: 50px;
  background-color: rgba(220,220,220,0.8);
  text-align: center; 
  display: inline-block;
  width: 50%;
}

#tablec {
  text-align: center;
}

.text i{
  width:28px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background-color: rgba(75,156,56,0.5);
  border: 2px solid rgba(75,156,56,0.3);
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.btn:hover {
  background-color: rgba(75,156,56,0.7);
  border: 2px solid rgba(75,156,56,0.5);
}

@media screen and (min-width: 800px) {
  #tablepart {
  margin-top: 70%;
}
}

@media screen and (min-width: 400px) {
  #tablepart {
  margin-top: 150%;
}
}

@media screen and (min-width: 1300px) {
  #tablepart {
  margin-top: 50%;
}
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.4);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.7} 
  to {opacity: 1}
}